{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <h1 class="post_title">
            {{ post.title }} 
            {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a></h1> 
            {% endif %}
        </h1>
        
        
        <p class="post_text">{{ post.text|linebreaksbr }}</p>
        {% if post.published_date %}
            <div class="date">
                <p class="pub_date">Опубликовано: {{ post.published_date }}</p>
            </div>
        {% else %}
        <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
    
    </div>
{% endblock %}